@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #444444;
    --background: #ffffff;
  }
}

@font-face {
  font-family: Inter;
  src: url("./../../public/font/Inter_18pt-Regular.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}


.codex-editor__redactor {
  padding-bottom: 0 !important;
}